extends layout

block content
    a(href="/") Main
    h1 File status
    h3 File name
    p(class="file-name")=name
    h2(class="file-status")=status
    a(class="link hidden", href=href, download) Load

    //- script to autoupdate status
    script(src="/javascripts/autoRefresh.js") 