body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
  color: red;
}

.success {
  color: darkgreen;
}

.hidden {
  display: none;
}

.header {
  text-align: center;
}

.content {
  text-align: center;
}

.form {
  display: flex;
  max-width: 700px;
  margin: auto;
  flex-direction: column;
  text-align: center;
}

.label {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-style: italic;
  border-radius: 30px;
  border: 1px solid #000;
}

.input {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border: none;
  background: none;
}

.input:hover {
  font-weight: bold;
  color: blue;
}
